{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "semi":"off",
        "space-before-blocks":"off",
        "quotes":"off",
        "comma-spacing":"off",
        "indent": "off",
        "require-jsdoc": "off",
        "eol-last": "off",
        "operator-linebreak":"off",
        "no-trailing-spaces":"off",
        "object-curly-spacing":"off",
        "array-bracket-spacing":"off",
        "comma-dangle": "off",
        "arrow-parens": "off",
        "max-len":"off",
        "func-call-spacing":"off"
    },
    "extends": ["eslint:recommended", "google"]
}